.container {
  width: 90%;
  margin-bottom: 20px;
}
.searchInput {
  width: 100%;
  padding: 10px;
  font-size: large;
  border: 1px solid var(--color-text);
  border-radius: 4px;
  background: transparent;
  color: var(--color-text);
}

.searchForm{
    display: flex;
    width: 100%;    
}

.searchButton {
  padding: 10px 20px;
  margin-left: 10px;
  font-size: large;
  border: none;
  border-radius: 4px;
  background: transparent;
  border: var(--color-text) 1px solid;
  color: var(--color-button-text);
  cursor: pointer;
}   
.searchButton:hover {
  background: var(--color-text-muted);
}