.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    max-width: 80rem;
    margin: 0 auto;
    background: var(--color-background);
}

.songList {
    list-style: none;
    overflow: auto;
    width: 80%;
    display: flex column;
    align-items: center;
}

.listItem {
    display: inline-flex;
    font-size: large;
    align-items: center;
    width: 100%;
}


.imageWrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.imageWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    #ffffff00 0%,
    #ffffff00 50%,
    var(--color-bg) 100%
  );
}

.heading {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--color-text);
}

@media (min-width: 768px) {
    .imageWrapper{
        width: 50%;
        aspect-ratio: 1 / 1;
    }
}