.container{
    background:transparent;
    display:flex;
    flex-direction:row;
    align-items: center;
    width: 100%;
    padding: .5rem;
}

.name{
    display: block;
    color:var(--color-text);
    font-size:large;
    font-weight:bold;
}

.artist{
    display: block;
    color:var(--color-text);
    font-size:14px;
}

.time{
    color:var(--color-text);
    font-size:large;
    margin-left: auto;
}
.filler{
    height: 100%;
    width: 100%;
    max-width: 2rem;
    fill: var(--color-text);
}